{% extends "users/base.html" %}
{% block content %}
<section id="home">
    <br><br><br><br>
    <h1 class="h-primary">SIMPLE EDUCATION FOUNDATION</h1>
    <P>The current state of India’s public education system is quite bleak. It fails to innovate and incentivize learning and keep children in classrooms; it fails to empower teachers with skills needed for them to envision the future of their own classrooms.

        We believe that the education system needs to equip our students and teachers with knowledge, skills, and mindsets that empower them to be critical thinkers and empathetic problem solvers, effective communicators and collaborators.
        
        At Simple Education Foundation (SEF), our vision is to empower our children to build a better tomorrow. We, thus, identify it as our mission to transform teaching and learning practices across government schools in India.</P>
    
</section>
{% endblock content %}